*{
    margin:0;
}
body{
    font-family:Chakra Petch;
    background-color: #9BA4B5;
}
.titulo1{
    text-align: center;
    font-size: 60px;
}

.formulario{
    background-color:#394867;
    color: #F3E8FF;
    max-width: 450px;
    margin:auto;
    padding: 25px;
    border-radius: 40px;
    box-sizing: border-box;
    margin-top: 250px;
}
.formulario label{
    display: block;
    margin:16px 0 16px;
}
.formulario fieldset{
    margin-bottom: 16px;
    margin-top: 6px;
}
.formulario legend{
    text-transform: uppercase;
}
.formulario input{
    width:100%;
    padding:2px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}
.btn{
    color:#212A3E;
    background-color: #F3E8FF;
}
.btn:hover{
    color: #F3E8FF;
    background-color: #212A3E;
    transition: .5s;
}