*{
    margin: 0;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
    margin-bottom: 150px;
}

.retangulo{
    width: 24%;
    height: 77px;
    border: 4px solid;
    background-color:orange;
    display: flex;
}
.retangulo:nth-child(even){
    height: 250px;
    background-color: royalblue;
}
.mae-flex{
    display: flex;
    padding: 20px;
    background-color: orangered;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.vertical{
    flex-direction: column;

}
.vertical, .retangulo{
    margin-bottom: 32px;
}